body{
    background: linear-gradient(180deg, hsl(215, 63%, 70%), transparent); 
    height: 148vh;
  }


.title{
    text-align: center;
    top:10rem;
    font-weight: bold;
    background-color: hsl(215, 63%, 70%);
    overflow: hidden;
    font-size: x-large
}

.aboutus{
    position:absolute;
    left:17rem;
    top:13rem;

}

.first-header{
    position:absolute;
    left:8rem;
    top:24rem;
}

.second-header{
    position:absolute; 
    left:60rem; 
    top:36rem;
}


.third-header{
    position:absolute;
    left:15rem;
    top:60rem;
}

.fourth-header{
    position:absolute;
    left:5rem;
    top:71rem
}

.ab{
    position:absolute;
    left:5rem;
    top:17rem;
    width:40%;
    text-indent: 2rem
}
.p1{
position:absolute;
left:5rem;
top:28rem;
width: 40%;
text-indent: 2rem
}

.p2{
    position:absolute;
    left:50rem;
    top:40em;
    width: 40%;
    text-indent: 2rem
    }

.p3{
    position:absolute;
    left:5rem;
    top: 64rem;
    width: 40%;
    text-indent: 2rem
    }

.p4{
    position:absolute;
    left: 5rem;
    top: 74rem;
    width: 10%;

    }

.hr{
    border: 1px solid rgb(0, 81, 128);
    width: 88rem;
    
    position: absolute;
}

.Us{
    position:absolute; 
    width: 40rem;
    left: 48rem;
    top: 14rem;
    border-radius: 5rem
    

}
.Traffic1{
    position: absolute;
    width: 30em;
    top:36em;
    left: 6em;
    border-radius: 5em
}

.Traffic2{
    position: absolute;
    width:20em;
    height:26em;
    top:45em;
    left:57em;
    border-radius: 5em
}



.info a:hover {
    background-color: #ffffff;
    color: black;
}
input[type=submit] {
    position: aboslute;
    width: 23em;  height: 2em;
}




  