body{
    background: linear-gradient(180deg, hsl(215, 63%, 70%), transparent); 
    height: 134vh;
  }


.title{
    text-align: center;
    top:100px;
    font-weight: bold;
    background-color: hsl(215, 63%, 70%);
    overflow: hidden;
    font-size: x-large
}

.aboutus{
    position:absolute;
    left:260px;
    top:150px;

}

.first-header{
    position:absolute;
    left:115px;
    top:350px;
}

.second-header{
    position:absolute; 
    left:975px; 
    top:500px;
}


.third-header{
    position:absolute;
    left:220px;
    top:750px;
}

.fourth-header{
    position:absolute;
    left:220px;
    top:950px
}

.ab{
    position:absolute;
    left:50px;
    top:200px;
    width:40%;
    text-indent: 50px
}
.p1{
position:absolute;
left:50px;
top:400px;
width: 40%;
text-indent: 50px
}

.p2{
    position:absolute;
    left:800px;
    top:550px;
    width: 40%;
    text-indent: 50px
    }

.p3{
    position:absolute;
    left:50px;
    top: 800px;
    width: 40%;
    text-indent: 50px
    }

.p4{
    position:absolute;
    left:150px;
    top: 1000px;
    width: 60%;

    }

.hr{
    border: 1px solid rgb(0, 81, 128);
    width: 1407px;
    
    position: absolute;
}

.Us{
    position:absolute; 
    width: 500px;
    left: 800px;
    top:200px;
    border-radius: 25px
    

}
.Traffic1{
    position: absolute;
    width: 275px;
    top:525px;
    left: 180px;
    border-radius: 25px
}

.Traffic2{
    position: absolute;
    width:275px;
    height:400px;
    top:640px;
    left:960px;
    border-radius: 25px
}

.Banana{
    position: absolute;
    width:150px;
    top: 0px;
    left:1100px
}

.info a:hover {
    background-color: #ffffff;
    color: black;
}
input[type=submit] {
    position: aboslute;
    width: 23em;  height: 2em;
}




  