.header{
    background-color: #82AAE3;
    overflow: hidden;
  }
  
body{
    background: linear-gradient(180deg, hsl(55, 47%, 66%), transparent); 
    height: 134vh;
}

.circular--square { 
    border-radius: 50%; 
    height: 10%;
    width: 5%;
    position: absolute;
    left: 89rem;
    top: 0.6rem;
}


input[type=submit] {
    width: 20rem;  height: 12rem;
}

.nameStyle {
    position: absolute;
    left: 79rem;
    top: 1rem;
}

.messagesStyle {
    position: absolute;
    left: 77rem;
    top: 2.3rem;
    width: 1.5rem;
    height: 1.5rem;
}


.info {
    position: absolute;
    font-size: 25px;
    width: 300px;
}

.info form {
    position: absolute;
    text-align: center;
    width: 35px;
}

.info a:hover {
    background-color: #ffffff;
    color: black;
}

.aboutSection {
    position: absolute;
    margin-top: 39rem;
    margin-left: 2rem;
}