.header{
    background-color: #82AAE3;
    overflow: hidden;
}

.header a {
    float: left;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 15
}

.header a:hover {
    background-color: #ECF9FF;
    color: black;

}


#driver{
    height: 10%;
    width: 10%;
}

#rider{
    height: 10%;
    width: 10%;
}

#share{
    height: 10%;
    width: 10%;
}