body{
    margin: 0;
    text-align: center;
}

h1{
    position: relative;
    margin-top: 3rem;
}

.info{
    text-align: center;
    font-size: 1.5rem;
}

.login-button{
    position: relative;
    left: 89.5rem;
}

.header{
    background-color: #82AAE3;
    overflow: hidden;
}

.header a {
    float: left;
    color: white;
    text-align: center;
    padding: 1.4rem 1.4rem;
    text-decoration: none;
    font-size: 1rem;
}

.header a:hover {
    background-color: #ECF9FF;
    color: black;

}

.driver-text{
    position: absolute;
    left: 17rem;
    margin: 0 auto;
}

.rider-text{
    position: absolute;
    left: 3rem;
    margin: 0 auto;
}

.share-rider-text{
    position: absolute;
    right: 16rem;
    margin: 0 auto;
    margin-top: -2.5rem;
}

.my-contact{
    margin-top: 3rem;
}


#driver{
    height: 25%;
    width: 25%;
    margin-right: 3rem;
    display: inline;

}

#rider{
    height: 25%;
    width: 25%;
    display: inline;
}

#share{
    height: 33vh;
    width: 25%;
    margin-left: 3rem;
    display: inline;
}