body{
    background: linear-gradient(180deg, hsl(53, 81%, 75%), transparent); 
    height: 134vh;
  }

.header{
    background-color: #82AAE3;
    overflow: hidden;
}

.circular--square { 
    border-radius: 50%; 
    height: 10%;
    width: 5%;
    position: absolute;
    left: 89rem;
    top: 0.6rem;
}

.nameStyle {
    position: absolute;
    left: 79rem;
    top: 1rem;
}

.messagesStyle {
    position: absolute;
    left: 77rem;
    top: 2.3rem;
    width: 1.5rem;
    height: 1.5rem;
}

input[type=submit] {
    width: 5rem;  height: 3rem;
}